@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
header {
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding: 10px 10px 50px 10px;
}
footer {
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: white;
}
header h1 {
    font-family: "Bree Serif", serif;
    color: white;
    font-weight: bolder;
}
header a {
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
    margin-right: 10px;
    color: white;
    background-color: rgb(55, 53, 53);
    border-radius: 3px;
}
header a:hover {
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 8px 0px white;
    border-radius: 20px;
    transition: 500ms;
}

.section {
    background-color: rgba(209, 207, 207, 0.521);
    margin: 20px;
    padding: 1px 10px;
    border-radius: 10px;
}
.section:hover {
    border-radius: 30px;
    transition: 500ms;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.293);
}

.section p {
    padding-left: 10px;
}

.section a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.section a:hover {
    text-decoration: underline;
}
